<div class="margin">
    <script src="https://giscus.app/client.js"
            data-repo="LaserKaspar/felixkaspar.com"
            data-repo-id="R_kgDOQc87WQ"
            data-category="General"
            data-category-id="DIC_kwDOQc87Wc4CzB2o"
            data-mapping="pathname"
            data-strict="1"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="noborder_light"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
</div>