/* Normal Style */
html {
	font-family: 'Roboto', sans-serif;
	
	line-height: 1.5;
	color: black;
	font-size: 1em;
	width: 100%;
	height: 100%;
}

html:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: linear-gradient(216deg, rgba(255,213,0,1) 0%, rgba(255,16,0,1) 100%);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

span {
	position: absolute;
    bottom: 10vh;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
	box-sizing: border-box;
	transition-duration: 100ms;
}
span:hover {
	border-left: 3px solid #c7c7c7;
	border-bottom: 3px solid #c7c7c7;
	transition-duration: 100ms;
}

body {
	margin: auto;
}

main {
	transition-duration: 200ms
}

@media screen and (min-aspect-ratio: 5/3) {
	main {
		padding-left: 10%;
		padding-right: 10%;
		transition-duration: 200ms
	}
}


section {
    position: relative;
}

@media screen and (min-aspect-ratio: 5/3) {
	.b_overlay {
		position: absolute;
	}
}

.middle {
	text-align: center;	
}

.logo {
	width: 80%;
}

a {
	text-decoration: none;
	color: inherit;
}

.text-wrapper {
	background-color: #f1f1f1;
	size: auto;
	position: relative;
	
	width: auto;
}

.releaseDate {
	position: absolute; 
	left: 10px; 
	bottom: 10px; 
	font-size: 10px;
}

.halfBg {
	background-position: center; 
	height: 40vh;
	background-size: 40vh;
	background-repeat: no-repeat;
}
.half2 {
	padding-bottom: 40px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 0px;
}

@media screen and (max-aspect-ratio: 5/3) {
	.noRepeat {
		background-size: 100%;
	}
}

@media screen and (min-aspect-ratio: 3/3) {
	.flex_container {
		display: flex;
		align-items: stretch;
	}
	.halfBg {
		height: inherit; 
		background-size: cover; 
	}
	.half1 {
		width: 50%;
	}
	.half2 {
		padding-bottom: 40px;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 50px;

		width: 50%;
	}

	.halfLeft {
		right: calc(50% - 50px);
	}
	.halfRight {
		left: calc(50% + 50px);
	}
}
/* Menu */

.circle {
	height: 25px;
	width: 25px;
	background-color: rgb(146, 146, 146);
	border-radius: 50%;
	display: inline-block;
	position: fixed;
	transition-duration: 1s;

	background-image: url("files/home.png");
	background-size: cover;
}

.circle:hover {
	height: 50px;
	width: 50px;
	transition-duration: 1s;
}

/*parallax*/

.wrapper {
	height: 100vh;
}
 
.parallax::after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	height: 100vh;
	
	transform: translateZ(-1px) scale(1.6);
	background-size: cover;
	background-position: center;
}

.bg1::after {
	background-image: url('files/code.png');
}

.heading {
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
	text-align: center;
	z-index: 1;
	position: relative;
	height: 100vh;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

/*topNav*/

  

.topNav {
	position: fixed;
	background-color: #ffffffa4;
	width: 100%;
	z-index: 10;
	text-align: center;
	color: #ff7f00;
	font-size: 30px;
	transition-duration: 0.5s;
	padding: 0px;

	height: 48px;

	backdrop-filter: blur(10px);

	display: flex;
	justify-content: space-evenly;
}

.topNav:hover {
	background-color: #ffffffd8;
	transition-duration: 0.5s;
}

.topNav img {
	height: 40px;
	padding: 4px;
}

.topNav img:hover {
	background-color: #ff8800ce;
}


/* Text Dropdown weiterlesen */

button {
	border: 0px;
    text-align: inherit;
	background-color: inherit;
	padding: 0px;
	display: block;
	font-size: inherit;
	border-radius: inherit;
}
button:focus {
	outline:0;
}

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collContent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.more {
	height: 0px;
	background-color: inherit;
	transition-duration: 500ms;
	padding: 0px 50px 0px 50px;
}

.more.active {
	padding: 40px 50px 50px 50px;
	height: auto;
	transition-duration: 500ms;
}

.progress-container {	
  	width: 100%;
  	height: 8px;
  	background: #ccc;
	z-index: 101;
	position: fixed;
}

.progress-bar {
  	height: 8px;
  	background: #ff9900;
  	width: 0%;
    z-index: 102;
}


