{{ define "main" }}

<div class="hero-section element margin no-padding">
    <div class="hero-background">
        <div class="hero-avatar">
            {{ with resources.Get .Params.hero }}
                {{ $image := .Resize "600x jpg" }}
                <img src="{{ $image.RelPermalink }}" draggable="false">
            {{ end }}
        </div>
    </div>
    <div class="hero-info padding">
        <h1>{{ .Title }}</h1>
        <div class="info">
            {{ .Params.sub }} <br>
            {{ .Params.location }}
        </div>
        <div>{{ partial "tags.html" . }}</div>
        <a href=""><div class="cta-button"><i class="fa-solid fa-paper-plane"></i> Send Message</div></a>
    </div>
</div>

{{- partial "inline-nav.html" . -}}

<div class="element margin">
    <h2>About Me</h2>
    {{ .Content }}
</div>

<hr>

<div class="padding-y scroll-viewport">
    <div class="scroll-content">
        {{ $Context := . }}
        {{ range $Status := slice "Todo" "Doing" "Done" "Archive" }}
            <div class="container small-padding">
                <h2>{{.}}</h2>
                {{ range (where $Context.Site.Pages "Section" "kanban") }}
                    {{ range (where .Pages "Params.status" $Status) }}
                        <a href="{{ .RelPermalink }}" draggable="false" class="blank">
                            <div class="sub-element small-padding margin-top-small zoom-parent">
                                <h3>
                                    {{ .Title }}   
                                </h3>
                                <div class="small-button-container">
                                    {{ with .Params.tags }}
                                        {{ range . }}
                                            {{ $href := print (absURL "tags/") (urlize .) }}
                                            <div class="tag-button">
                                                {{ . }}
                                            </div>
                                        {{ end }}
                                    {{ end }}
                                </div>
                                {{ if .Params.hero }}
                                    <div class="zooming borderradius-small margin-top-small">
                                        {{ with .Resources.GetMatch .Params.hero }}
                                            {{ $image := .Resize "600x jpg" }}
                                            <img src="{{ $image.RelPermalink }}" draggable="false">
                                        {{ end }}
                                    </div>
                                {{ end }}
                            </div>
                        </a>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}
    </div>
</div>

<hr>

<div class="container small-padding margin">
    <h2>Blog</h2>
    {{ range (where .Site.Pages "Section" "posts") }}
        {{ range .Pages }}
        <a href="{{ .RelPermalink }}" class="blank">
            <div class="element margin-top-small no-padding flex flex-flow-swap zoom-parent">
                <div class="preview-image zooming">
                    {{ with .Resources.GetMatch .Params.hero }}
                        {{ $image := .Resize "x600 jpg" }}
                        <img src="{{ $image.RelPermalink }}" draggable="false">
                    {{ end }}
                </div>
                <div class="padding">
                    <div class="medium-button-container">
                        {{ with .Params.tags }}
                            {{ range . }}
                                {{ $href := print (absURL "tags/") (urlize .) }}
                                <div class="tag-button">
                                    {{ . }}
                                </div>
                            {{ end }}
                        {{ end }}
                    </div>
                    <br>
                    <h3>{{ .Title }}</h3>
                    {{ .Date.Format "2 Jan 2006" }} - {{ math.Round (div (countwords .Content) 220.0) }} min to read
                    <br>
                    <br>
                    {{ .Summary }}
                </div>
            </div>
        </a>
           
        {{ end }}
    {{ end }}
</div>


<!-- 
    <h1>list sections</h1>

    {{ range .Site.Sections }}
        test
        {{ .Title }}<br>
    {{ end }} 
-->

{{ end }}