body {
    background-color: #F6F6F6;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;

    
    line-height: 1.5;
}

.anchored-heading .link {
    display: none;
}

.anchored-heading:hover .link {
    display: initial;
}

h1 {
    font-size: 2.5em;
    font-family: 'Urbanist', sans-serif;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 1.2em;
    font-family: 'Urbanist', sans-serif;
    margin: 0px;
}

h3 {
    font-size: 1.1em;
    font-family: 'Urbanist', sans-serif;
    margin: 0px;
}

.container > h2 {
    margin-top: 5px;
    color: #343051;
    font-size: 1em;
    position: relative;
}

hr {
    background-color: #D9D9D9;
    border: 0;
    width: calc(100% - 40px);
    margin: 0px 20px;
    
    border-top: 2.5px solid #D9D9D9;
}

i {
    color: inherit;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: #888d91;
    text-decoration: none;
}

a:visited {
    color: #888d91;
    text-decoration: none !important;
}

a.hover {
    color: inherit;
    text-decoration: none;
}
a.hover:hover {
    color: #888d91;
    text-decoration: underline;
}
a.hover:visited {
    color: #888d91;
}

a.blank {
    color: inherit;
    text-decoration: none;
}

a.blank:hover {
    color: inherit;
}

a.blank:visited {
    color: inherit;
}

img {
    background-color: #23272a;
    margin: auto;
    display: block;
    object-fit: cover;
    
    width: 100%;
    height: auto;
}

video {
    background-color: #23272a;
    margin: auto;
    display: block;

    width: 100%;
}

@media screen and (min-width: 750px) { 
    img {
        width: 50%;
    }
    video {
        width: 50%;
    }
    .fullsize img {
        width: 100%;
    }
    .fullsize video {
        width: 100%;
    }
}

.dual {
    display: flex;
}

.dual img {
    width: 100%;
}

.dual video {
    width: 100%;
}

code {
    color: #555;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid #F6F6F6;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #F6F6F6;
}

.block {
    display: block;
}

.margin {   
    margin: 20px;
}

.margin-y {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-y-small {
    margin-top: 10px;
    margin-bottom: 10px;
}


.margin-top-small {
    margin-top: 10px;
}

.margin-bottom-small {
    margin-bottom: 10px;
}

.margin-x {
    margin-left: 20px;
    margin-right: 20px;
}

.borderradius-small {
    border-radius: 10px;
}

.borderradius {
    border-radius: 20px;
}

.borderradius-left {
    border-radius: 20px 0 0 20px;
}

.hero-background {
    height: 200px;
    border-radius: 20px;
    background-color: #23272a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%232f3438' fill-opacity='1' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    position: relative;
}

.hero-avatar {
    position: absolute;
    border-radius: 50%;
    bottom: -50%;
    left: 20px;
    background-color: yellow;
    width: 200px;
    height: 200px;

    border: 4px solid white;
    overflow: hidden;
}

.hero-avatar img {
    width: 100%;
    height: 100%;
}

.hero-info {
    margin-top: 100px;
    position: relative;
}

@media screen and (min-width: 750px) { 
    .hero-info {
        margin-top: 0px;
        margin-left: 220px;
    }
}

.hero-info .info {
    line-height: 25px;
    margin-bottom: 15px;
}

.wrapper {
    position: relative;
    max-width: 1500px;
    margin: auto;
}

.side-nav {
    width: 250px;
    display: none;
    margin-right: 20px;
}

.inline-nav {
    display: grid;
    gap: 15px;
}

@media screen and (min-width: 550px) { 
    .inline-nav {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-rows: auto;
    }
}


@media screen and (min-width: 750px) { 
    .inline-nav {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 1200px) {
    .side-nav {
        display: block;
    }
    
    .inline-nav {
        display: none;
    }
}

.side-nav .element {
    margin: 20px 0px;
}

.side {
    float: right;
    right: 0;
    top: 0;
    position: sticky;
}

@media screen and (min-width: 1200px) { 
    .body {
        display: inline-block;
        width: calc(100% - 250px - 20px);
    }
}

.padding-y {
    padding: 20px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.scroll-viewport {
    overflow: hidden;
}

.scroll-content {
    padding-right: 20px;
    width: max-content;
    cursor: move;
    margin: auto;
}

.scroll-content > .container {
    display: inline-block;
    margin-left: 20px;
    width: 260px;
    vertical-align:top;
    /* height: 400px; */
    overflow-y: auto;
    position: relative;
    user-select: none; /* Standard syntax */
}

.element {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.25);
    padding: 20px;
    height: fit-content;
    overflow: hidden;
    position: relative;   
}

.element hr {
    width: 100%;
    margin: 0px;
}

.sub-element {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.25);
    padding: 20px;
    height: fit-content;
}

.container {
    background-color: #F6F5F8;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.25);
}

.container::-webkit-scrollbar {
    width: 0px;
}
.container:hover::-webkit-scrollbar {
    width: 5px;
}
.container::-webkit-scrollbar-track {
    background: #f1f1f1;
    display: none;
}
.container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.zooming {
    will-change: transform;
    overflow: hidden;
}

.zoom-parent .zooming img {
    transition: transform .3s ease;
    width: 100%;
}

.zoom-parent:hover .zooming img {
    transform: scale(1.05);
    transition: transform .3s ease;
}

.zoom-parent:hover .zooming img {
    transform: scale(1.05);
}

.container img {
    margin-bottom: -5px;
}

.no-padding {
    padding: 0px;
}

.small-padding {
    padding: 10px;
}

.padding {
    padding: 20px;
}

.footer {
    margin: 60px 0px;
    color: #D9D9D9;
}

.center {
    text-align: center;
}

.center-block {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-flow-swap {
    flex-direction: column;
}

@media screen and (min-width: 750px)  {
    .flex-flow-swap {
        flex-direction: row;
    }
}

.tag-button {
    padding: 3px 15px;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: black;
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
}

.small-button-container {
    margin-top: 5px;
}
.small-button-container .tag-button {
    padding: 1px 7px;
    border-radius: 6px;
    background-color: #D9D9D9;
    color: black;
    display: inline-block;
    font-weight: bold;
    font-size: .8em;
    margin-top: 0px;
    margin-right: 3px;
}

.medium-button-container {
    margin-top: 5px;
}
.medium-button-container .tag-button {
    padding: 3px 10px;
    border-radius: 6px;
    background-color: #D9D9D9;
    color: black;
    display: inline-block;
    font-weight: bold;
    font-size: .8em;
    margin-top: 0px;
    margin-right: 3px;
}

.cta-button {
    padding: 5px 23px;
    border-radius: 10px;
    background-color: #2F4858;
    border: 3px solid #2F4858;
    color: white;
    display: inline-block;
    margin-top: 20px;
    transition-duration: 100ms;
}
.cta-button:hover {
    background-color: initial;
    color: #2F4858;
}

@media screen and (min-width: 750px) { 
    .cta-button {
        position: absolute;
        top: 20px;
        right: 30px;
    }
}

.action-button {
    padding: 2px 13px;
    border-radius: 10px;
    background-color: #2F4858;
    border: 3px solid #2F4858;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    transition-duration: 150ms;
}

.action-button:hover {
    background-color: initial;
    color: #2F4858;
}

.more-projects-button {
    padding: 2px 13px;
    border-radius: 10px;
    background-color: #2F4858;
    border: 3px solid #2F4858;
    color: white;
    transition-duration: 150ms;
    text-align: center;
}

.more-projects-button:hover {
    background-color: initial;
    color: #2F4858;
}

.horizontal-buttongroup {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
}

@media screen and (min-width: 750px) { 
    .horizontal-buttongroup {
        flex-direction: row;
    }
}

.horizontal-buttongroup a {
    flex-grow: 1;
}

.horizontal-buttongroup div {
    width: -moz-available;
}

.horizontal-buttongroup .action-button {
    margin: 0px;
    text-align: center;
    width: -webkit-fill-available;
}

/* kanban */

.archive h3 {
    color: gray;
}

.archive .sub-element:hover h3 {
    color: rgb(214, 112, 112);
}


.preview-image {
    overflow: hidden;
    max-height: 250px;
    border-radius: 10px 10px 0 0;
}

@media screen and (min-width: 750px)  {
    .preview-image {
        border-radius: 10px 0 0 10px;
        max-height: initial;
        width: 30%;
        flex-shrink: 0;
    }
}

.preview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) { 
    .blog {
        margin: 0;
        border-radius: 0px;
    }
}

.blog h1 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 15px;
}

.blog h2 {
    margin-bottom: 15px;
}

.blog h3 {
    margin-bottom: 15px;
}

.blog img {
    border-radius: 10px;
}

.back-arrow {
    display: block;
    width: 2em;
    top: 25px;
}

@media screen and (min-width: 750px) { 
    .back-arrow {
        display: initial;
        position: absolute;
        left: 20px;
    }
}

@media screen and (min-width: 750px) { 
    .blog-title {
        text-align: center;
    }
}


/* carousel */

.carousel {
    margin: 20px 0px 40px 0px;
}

.img-carousel img {
    width: calc(100% - 10px);
    aspect-ratio: 16 / 9;
    background-color: rgb(248, 248, 248);
    margin: 10px;
    border-radius: 10px;
    outline: dashed 1px lightgray;
}
@media screen and (min-width: 750px) { 
    .img-carousel img {
        height: 270px;
        max-width: 480px;
    }
}

.div-carousel > a {
    display: block;
}

.div-carousel .carousel-item {
    width: calc(100% - 40px);
    background-color: rgb(248, 248, 248);
    margin: 10px;
    border-radius: 10px;
    outline: dashed 1px lightgray;
    text-align: center;
}

@media screen and (min-width: 750px) { 
    .div-carousel .carousel-item {
        max-width: 300px;
    }
}

.flickity-button {
    position: absolute;
    background: none !important;
    border: none;
    color: #333;
}

.flickity-button:focus {
    box-shadow: none !important;
}

.flickity-viewport {
    transition: height 0.2s;
}

.project-display {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 750px) { 
    .project-display {
        flex-direction: row;
        align-items: flex-start;
    }
}
.project-display > * {
    flex: 1;
}
.project img {
    width: 100%;
    display: block;
}

.project p {
    margin: 0;
}

/*Code Highlighting*/

.highlight > *{
    border-radius: 5px;
    overflow: auto;
}

pre {
    padding: 15px;
}

td pre {
    margin: 5px;
    padding: 0px;
}