{{ define "prenav" }}
    {{ .Params.sub }}
{{ end }}

{{ define "main" }}
<div id="home-jumbotron" class="jumbotron text-center">
    <h1 class="title">{{ .Title }}</h1>
    {{ .Content }}

    <h1>recent activity</h1>
    {{ range (where .Site.RegularPages.ByPublishDate.Reverse "Section" "in" (slice "kanban" "posts")) | first 5}}
        <a class="nav-link" href="{{ .RelPermalink }}">
            {{ .Title }}
        </a>
    {{ end }}
    
    <!-- <h1>list sections</h1>

    {{ range .Site.Sections }}
        test
        {{ .Title }}<br>
    {{ end }} -->

    <h1>list kanbans</h1>

    {{ range (where .Site.Pages "Section" "kanban") }}
        {{ range .Pages }}
            <a class="nav-link" href="{{ .RelPermalink }}">
                {{ .Title }} - {{ .Params.status }}
            </a>
        {{ end }}
    {{ end }}
</div>
{{ end }}